let g:ale_fixers = {
\   '*': ['remove_trailing_lines', 'trim_whitespace'],
\}

let g:ale_completion_enabled = 1
let g:ale_fix_on_save = 0
let g:ale_elixir_elixir_ls_release = '/home/{{ ansible_user }}/Code/elixir-ls/rel'

nmap <leader>f <Plug>(ale_fix)

{# vim:set filetype=vim: #}
