imap <C-l> <Plug>(coc-snippets-expand)
vmap <C-j> <Plug>(coc-snippets-select)
nmap <silent> <Leader>h :call CocActionAsync('doHover')<CR>
nmap <silent> <Leader>r <Plug>(coc-rename)
nmap <silent> <Leader>t <Plug>(coc-refactor)
nmap <silent> gd <Plug>(coc-definition)
nmap <silent> gr <Plug>(coc-references)

{# vim:set filetype=vim: #}
