set noshowmode

let g:lightline = {
\   'colorscheme': 'solarized',
\   'active': {
\     'left': [ [ 'mode', 'paste' ],
\               [ 'gitbranch', 'readonly', 'filename', 'modified' ] ],
\   },
\   'inactive': {
\     'left': [ [ 'absolutepath' ] ],
\   },
\   'component_function': {
\     'gitbranch': 'fugitive#head',
\   },
\ }

{# vim:set filetype=vim: #}
