let g:rails_projections = {
      \ "config/projections.json": {
      \   "command": "projections"
      \ }
      \}

let g:rails_gem_projections = {
      \ "dry-validation": {
      \   "contracts/*.rb": {
      \     "command": "contract",
      \     "affinity": "model",
      \     "test": "spec/contracts/{}_spec.rb",
      \     "template": ["class {camelcase|capitalize|colons}Contract < Dry::Validation::Contract", "  params do", "  end", "end"],
      \     "rubyMacro": ["params", "schema", "json", "rule"],
      \     "rubyHelper": ["required", "optional"],
      \   }
      \ },
      \ "factory_bot_rails": {
      \   "spec/factories/*.rb": {
      \     "command": "factory",
      \     "affinity": "collection",
      \     "alternate": "app/models/{singular}.rb",
      \     "related": "db/schema.rb#{}",
      \     "template": "FactoryBot.define do\n  factory :{singular} do\n  end\nend",
      \     "rubyMacro": ["factory", "sequence"]
      \   },
      \   "test/factories/*.rb": {
      \     "command": "factory",
      \     "affinity": "collection",
      \     "alternate": "app/models/{singular}.rb",
      \     "related": "db/schema.rb#{}",
      \     "template": "FactoryBot.define do\n  factory :{singular} do\n  end\nend",
      \     "rubyMacro": ["factory", "sequence"]
      \   }
      \ },
      \ "sidekiq": {
      \   "app/workers/*_worker.rb": {
      \     "command": "worker",
      \     "affinity": "model",
      \     "test": ["spec/workers/{}_worker_spec.rb", "test/workers/{}_worker_test.rb"],
      \     "template": "class {camelcase|capitalize|colons}Worker\n  include Sidekiq::Worker\n\n  def perform\n  end\nend"
      \   }
      \ }
      \}

{# vim:set filetype=vim: #}
