local lazypath = vim.fn.stdpath("data") .. "/lazy/lazy.nvim"
if not vim.loop.fs_stat(lazypath) then
  vim.fn.system({
    "git",
    "clone",
    "--filter=blob:none",
    "https://github.com/folke/lazy.nvim",
    "--branch=stable",
    lazypath,
  })
end
vim.opt.rtp:prepend(lazypath)

require("lazy").setup({
  {
    "sonph/onehalf",
    lazy = false,
    priority = 1000,
    config = function(plugin)
      vim.opt.rtp:append(plugin.dir .. "/vim")
      vim.cmd.colorscheme("onehalflight")
    end
  },
  "neovim/nvim-lspconfig",
  "onsails/lspkind.nvim",
  {
    "hrsh7th/nvim-cmp",
    dependencies = {
      "neovim/nvim-lspconfig",
      "onsails/lspkind.nvim"
    }
  },
  {
    "hrsh7th/cmp-nvim-lsp",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "hrsh7th/cmp-buffer",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "hrsh7th/cmp-path",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "hrsh7th/cmp-cmdline",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "hrsh7th/cmp-nvim-lsp-signature-help",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "delphinus/cmp-ctags",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "ray-x/cmp-treesitter",
    dependencies = {
      "hrsh7th/nvim-cmp"
    }
  },
  {
    "nvim-treesitter/nvim-treesitter",
    build = ":TSUpdate"
  },
  {
    "williamboman/mason.nvim",
    build = ":MasonUpdate"
  },
  {
    "williamboman/mason-lspconfig.nvim",
    dependencies = {
      "williamboman/mason.nvim",
      "neovim/nvim-lspconfig"
    }
  },
  {
    "jose-elias-alvarez/null-ls.nvim",
    dependencies = {
      "nvim-lua/plenary.nvim"
    }
  },
  "embear/vim-localvimrc",
  "junegunn/vim-peekaboo",
  "nvim-lualine/lualine.nvim",
  "kana/vim-textobj-user",
  "mbbill/undotree",
  "wellle/targets.vim",
  "tommcdo/vim-exchange",
  "tpope/vim-abolish",
  "tpope/vim-commentary",
  "tpope/vim-endwise",
  "tpope/vim-eunuch",
  "tpope/vim-fugitive",
  "tpope/vim-projectionist",
  "tpope/vim-repeat",
  "tpope/vim-rsi",
  "tpope/vim-surround",
  "tpope/vim-unimpaired",
  "nvim-lua/plenary.nvim",
  {
    "nvim-telescope/telescope.nvim",
    tag = "0.1.6",
    dependencies = {
      "nvim-lua/plenary.nvim"
    }
  },
  {
    "nvim-telescope/telescope-fzf-native.nvim",
    build = "make",
    dependencies = {
      "nvim-telescope/telescope.nvim"
    }
  },
  {
    "elixir-lang/vim-elixir",
    ft = "elixir"
  },
  {
    "nelstrom/vim-textobj-rubyblock",
    ft = "ruby",
    dependencies = {
      "kana/vim-textobj-user"
    }
  },
  {
    "tpope/vim-bundler",
    ft = "ruby"
  },
  {
    "tpope/vim-rails",
    ft = "ruby"
  }
})

-- vim:set filetype=lua:
