[user]
	name = Jan Dudulski
	email = jan@dudulski.pl
	signingkey = 2E81A03F
[core]
	editor = nvim
[color]
	ui = auto
[push]
	default = current
	followTags = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[merge]
	ff = true
[init]
	templatedir = /home/{{ ansible_user }}/.git_template
[rerere]
	enabled = false
[help]
	autocorrect = 1
[alias]
	co = checkout
	st = status
	pp = pull --prune
	cache = diff --cached
	upall = submodule foreach git pull origin master
	ignore = update-index --assume-unchanged
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
