# Ignore releases shared folder
public/system/*
# rbenv and rvm
.rvmrc
.ruby-version
.rbenv-version
.rbenv-vars
# asdf
.tool-versions
# tmp files
.DS_Store
.*.un~
ignoreme/*
# vim
tags
# local configurations
.sky
./config/database.yml
