{% include "plug.vim.j2" %}
{% include "mappings.vim.j2" %}
{% include "plugins/ale.vim.j2" %}
{% include "plugins/fugitive.vim.j2" %}
{% include "plugins/lightline.vim.j2" %}
{% include "plugins/picker.vim.j2" %}

set background=light
set list
set number
set ruler
set cursorline
set colorcolumn=80
set relativenumber
set scrolloff=3
set showbreak=↪
set wrap linebreak
set iskeyword+=-
set hidden

" Search
set hlsearch
set ignorecase
set smartcase
set gdefault

" Indentation
set tabstop=2
set shiftwidth=2
set softtabstop=2
set expandtab
set copyindent

{# vim:set filetype=vim: #}
