{% include "lazy.lua.j2" %}
{% include "mappings.lua.j2" %}
{% include "plugins/ale.lua.j2" %}
{% include "plugins/coc.lua.j2" %}
{% include "plugins/fugitive.lua.j2" %}
{% include "plugins/lualine.lua.j2" %}
{% include "plugins/rails.lua.j2" %}
{% include "plugins/projectionist.lua.j2" %}
{% include "plugins/telescope.lua.j2" %}

vim.opt.background = 'light'
vim.opt.list = true
vim.opt.number = true
vim.opt.ruler = true
vim.opt.cursorline = true
vim.opt.colorcolumn = '80'
vim.opt.relativenumber = true
vim.opt.scrolloff = 3
vim.opt.showbreak = '↪'
vim.opt.wrap = true
vim.opt.linebreak = true
table.insert(vim.opt.iskeyword, '-')
vim.opt.hidden = true
vim.opt.undofile = true

-- Search
vim.opt.hlsearch = true
vim.opt.ignorecase = true
vim.opt.smartcase = true
vim.opt.gdefault = true
vim.opt.inccommand = 'split'

-- Indentation
vim.opt.tabstop = 2
vim.opt.shiftwidth = 2
vim.opt.softtabstop = 2
vim.opt.expandtab = true
vim.opt.copyindent = true

-- Completion
vim.opt.completeopt = 'menu,menuone,preview,noselect,noinsert'
table.insert(vim.opt.tags, '.git/tags')

require'nvim-treesitter.configs'.setup {
  ensure_installed = { "ruby", "elixir" },
  sync_install = false,
  auto_install = true,
  ignore_install = { "javascript" },
  highlight = {
    enable = true,
    disable = { "c", "rust" },
    additional_vim_regex_highlighting = false,
  },
}

{# vim:set filetype=lua: #}
