" Disable arrow keys

nnoremap <Left> :echoe "Use h"<CR>
nnoremap <Down> :echoe "Use j"<CR>
nnoremap <Up> :echoe "Use k"<CR>
nnoremap <Right> :echoe "Use l"<CR>
inoremap <Left> <ESC>
inoremap <Down> <ESC>
inoremap <Up> <ESC>
inoremap <Right> <ESC>

" Undo tree
nnoremap <F5> :UndotreeToggle<CR>

{# vim:set filetype=vim: #}
