call plug#begin('/etc/xdg/nvim/plugged')

Plug 'w0rp/ale'

Plug 'kana/vim-textobj-user'
Plug 'kylef/apiblueprint.vim'
Plug 'nelstrom/vim-textobj-rubyblock'
Plug 'wellle/targets.vim'

Plug 'jremmen/vim-ripgrep'
Plug 'srstevenson/vim-picker'
Plug 'tommcdo/vim-exchange'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-endwise'
Plug 'tpope/vim-fugitive'
Plug 'tpope/vim-rails'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-rsi'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-unimpaired'

call plug#end()

{# vim:set filetype=vim: #}
